* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Open Sans', sans-serif;
}

:root {
  font-size: 62.5%;

  --gray-100: #1F2523;
  --gray-200: #4D5C57;
  --gray-300: #CDD5D2;
  --gray-400: #E4ECE9;
  --gray-500: #F9FBFA;
  --white: #FFFFFF;

  --green-100: #1F8459;
  --green-200: #2CB178;
  --danger: #B51919;
}

body {
  width: 100%;
  height: 100vh;

  background-color: var(--gray-400);
}

main {
  max-width: 138rem;
  margin: 4.8rem auto;

  & > img {
    margin-bottom: 3.2rem;
  }

  & > div {
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 2rem;
  }
}

section, aside {
  background-color: var(--white);
  border-radius: 1.6rem;
  padding: 4rem;
}

section {
  width: 45%;

  & > h1 {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.2;
    color: var(--gray-100);

    margin-bottom: 1.2rem;
  }

  & > p {
    font-size: 1.4rem;
    font-weight: regular;
    line-height: 1.4;
    color: var(--gray-200);

    margin-bottom: 4rem;
  }
}

fieldset {
  border: 0;

  & legend {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
    color: var(--gray-200);

    margin-bottom: .8rem;
  }

  & input, & select {
    width: 100%;
    padding: 1.5rem 1.6rem;
    outline: 0;
    border: 1px solid var(--gray-300);
    border-radius: .8rem;
  }

  & input::placeholder,
  & select:invalid {
    color: var(--gray-200);
  }

  & input:focus,
  & select:focus {
    border: 1.5px solid var(--green-100);
  }

  &:focus-within legend {
    color: var(--green-100);
    font-weight: 700;
  }
}

.inputs-row {
  margin-top: 1.6rem;
  margin-bottom: 3.2rem;

  display: flex;
  gap: 1.6rem;

  & fieldset:nth-child(1) {
    width: 55%;
  }

  & fieldset:nth-child(2) {
    width: 45%;
  }

  & select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    cursor: pointer;
    background: url('./assets/icons/arrow_down.svg') no-repeat;
    background-position: calc(100% - 1.4rem) 50%;
  }
}

button[type='submit'] {
  width: 100%;
  outline: none;
  border: none;
  border-radius: .8rem;
  padding: 1.5rem 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--green-100);
  color: var(--white);
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.1;
  cursor: pointer;

  transition: background-color 200ms;

  &:hover {
    background-color: var(--green-200);
  }
}

aside {
  width: 55%;

  & header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-bottom: 3.2rem;
    border-bottom: 1px solid var(--gray-400);
    margin-bottom: 2.4rem;

    & p {
      display: flex;
      align-items: center;
      gap: .8rem;

      font-size: 1.6rem;
      font-weight: normal;
      line-height: 1.5;
      color: var(--gray-200);

      & i {
        color: var(--gray-300);   
      }

      & span {
        font-size: 1rem;
        font-weight: normal;
        line-height: 1.2;

        text-transform: uppercase;
      }
    }

    & h2 {
      display: flex;
      align-items: baseline;
      gap: .4rem;

      font-size: 1.6rem;
      line-height: 1.5;
      color: var(--gray-100);

      & small {
        color: var(--gray-200);
        font-weight: normal;
        font-size: 1.2rem;
        line-height: 1.2;
      }
    }
  }

  & ul[role='list'] {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    min-height: 31rem;
    max-height: 31rem;

    & li {
      display: flex;
      align-items: center;
      justify-content: space-between;

      & h3 {
        display: flex;
        flex-direction: column;
        
        font-size: 1.4rem;
        line-height: 1.2;
        font-weight: 700;
        color: var(--gray-100);
        flex: 1;
        
        margin-left: 1.2rem;

        & span {
          font-size: 1.2rem;
          font-weight: normal;
          line-height: 1;
          color: var(--gray-200);
        }
      }

      & p {
        display: flex;
        gap: .4rem;
        align-items: baseline;

        margin-right: .8rem;

        color: var(--gray-100);
        font-size: 1.4rem;
        line-height: 1.2;
        font-weight: 500;

        & small {
          font-size: 1.2rem;
          font-weight: normal;
        }
      }

      & img:last-child {
        cursor: pointer;
      }
    }
  }
}

@media (width < 1440px) {
  main {
    padding: 2rem;

    & div {
      flex-direction: column;
    }

    section, aside {
      width: 100%;
    }

    & .inputs-row {
      & fieldset:nth-child(1) {
        width: 100%;
      }

      & fieldset:nth-child(2) {
        width: 100%;
      }
    }
  }

  aside {
    & header {
      p {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        & i {
          display: none;
        }
      }
    }
  }
}